/* 드랍다운 버튼 만들기 */
.dropdwnbtn {
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Course Example 예시들 정리 */
.course-ex {
    background-color: lavender;
    color: black;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.course-ex-content {
    display: none;
    /* background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; */
}

.course-ex:hover .course-ex-content{
    display: block;
}